@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin responsive($sreenWidth) {
    @media(max-width: $screenWidth) {
        @content
    }
}